<header class="p-d-flex p-ai-center header-page">
    <img src="../../../assets/logo_pucminas.png" height="42" class="p-mx-3">
    <div class="menu">
        <button pButton type="button" label="Home" routerLink="/home" class="p-button-text"></button>
        <button pButton type="button" label="Normas" routerLink="/normas" class="p-button-text"></button>
        <button pButton type="button" label="Consultorias" routerLink="/consultorias" class="p-button-text"></button>
    </div>
    <button pButton type="button" label="Sair" class="p-button-danger p-button-sm p-ml-auto p-mr-2" (click)="doLogout()"></button>
</header>