<app-header></app-header>

<div class="dashboard">

    <ng-container *ngFor="let resume of resume">
        <h2 class="title">{{ resume.title }}</h2>
        <div class="blocks">
            <div class="blocks" *ngFor="let item of resume.items">
                <div class="block">
                    <div class="title">{{ item.label }}</div>
                    <div class="value">
                        <div *ngIf="item.id === 'status'" class="status-indicator"></div>
                        <span>{{ item.value }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>
