<app-header></app-header>

<div class="dashboard">

    <h2 class="title">Produção diária</h2>

    <div class="blocks">
        <div class="block">
            <div class="title">Status</div>
            <div class="value">
                <div class="status-indicator"></div>
                <span>Ativo</span>
            </div>
        </div>

        <div class="block">
            <div class="title">Tecidos fabricados/separados</div>
            <div class="value">
                <span>23</span>
            </div>
        </div>

        <div class="block">
            <div class="title">Nível do estoque de insumos</div>
            <div class="value">
                <span>5%</span>
            </div>
        </div>
    </div>

    <h2 class="title">Outros</h2>

    <div class="blocks">
        <div class="block">
            <div class="title">Consultorias/Acessorias</div>
            <div class="value">
                <span>5 Ativos</span>
            </div>
        </div>
    </div>

</div>
